.main_footer{
    background-color: black;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.left_footer_bar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.left_footer_bar p{
    color: grey;
    font-size: 20px;
}

.space{
    color: white;
    font-size: 25px;
}
.main_footer .socialmedia .icon{
    font-size: 50px;
    color: white;
    padding: 5px;
}